<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop_99z.mappers.adminMapper">
   
	<!-- 카테고리 호출 -->
	<select id="category" resultType="com.shop_99z.domain.CategoryVO">
	   select
	    level, cateName, cateCode, cateCodeRef
	   from goods_category
	       start with cateCodeRef is null connect by prior cateCode = cateCodeRef
	</select>
	
	<!-- 상품 등록 -->
	<insert id="register">
		insert into goods (gdsNum, gdsName, cateCode, gdsPrice, gdsStock, gdsInfo, gdsImg, gdsThumbImg)
			values (goods_seq.nextval, #{gdsName}, #{cateCode}, #{gdsPrice}, #{gdsStock}, #{gdsInfo}, #{gdsImg}, #{gdsThumbImg})
	</insert>
	
	<!-- 상품 목록 -->
<!-- 	<select id="goodslist" resultType="com.shop_99z.domain.GoodsVO">
		select gdsNum, gdsName, cateCode, gdsPrice, gdsStock, gdsInfo, gdsImg, gdsDate
			from goods
				order by gdsNum desc
	</select> -->
	
	<select id="goodslist" resultType="com.shop_99z.domain.GoodsViewVO">
		 select g.gdsNum, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsStock, gdsInfo, gdsImg, gdsDate, g.gdsImg, g.gdsThumbImg
         from goods g
             inner join goods_category c
                 on g.cateCode = c.cateCode
                 	order by gdsNum desc
	</select>
	
	<!-- 상품 조회 -->
	<!-- 
	<select id="goodsView" resultType="com.shop_99z.domain.GoodsVO">
		select gdsNum, gdsName, cateCode, gdsPrice, gdsStock, gdsInfo, gdsImg, gdsDate
			from goods
				where gdsNum = #{gdsNum}
	</select> -->
	
	<!-- 상품 조회 + 카테고리 조인 -->
	<select id="goodsView" resultType="com.shop_99z.domain.GoodsViewVO">
		select g.gdsNum, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsStock, gdsInfo, gdsImg, gdsDate, g.gdsImg, g.gdsThumbImg
		        from goods g
		            inner join goods_category c
		                on g.cateCode = c.cateCode            
	          		where g.gdsNum = #{gdsNum}
	</select>
	
	<!-- 상품 수정 -->
	<update id="goodsModify">
		update goods
			set
				gdsName = #{gdsName},
				cateCode = #{cateCode},
				gdsPrice = #{gdsPrice},
				gdsStock = #{gdsStock},
				gdsInfo = #{gdsInfo},
				gdsImg = #{gdsImg},
				gdsThumbImg = #{gdsThumbImg}
			where gdsNum = #{gdsNum}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="goodsDelete">
		delete goods
			where gdsNum = #{gdsNum}
	</delete>
	
	<!-- 모든 유저의 주문 목록 -->
	<select id="orderList" resultType="com.shop_99z.domain.OrderVO">
	   select
	       orderId, memId, orderRec,
	       memAddr1, memAddr2, memAddr3,
	       orderPhone, amount, orderDate, delivery
	   from ordering
	</select>
	
	<!-- 특정 주문 목록 -->
	<select id="orderView" resultType="com.shop_99z.domain.OrderListVO">
	   select
	       o.orderId, o.memId, o.orderRec,
	       o.memAddr1, o.memAddr2, o.memAddr3,
	       o.orderPhone, o.amount, o.orderDate, o.delivery,
	       d.orderDetailsNum, d.gdsNum, d.cartStock,
	       g.gdsName, g.gdsThumbImg, g.gdsPrice
	   from ordering o
	           inner join order_details d
	               on o.orderId = d.orderId
	           inner join goods g
	               on d.gdsNum = g.gdsNum
	       where o.orderId = #{orderId}
	</select>
	
	<!-- 배송 상태 -->
	<update id="delivery">
	   update ordering
	       set delivery = #{delivery}
	   where orderId = #{orderId}
	</update>
	
	<!-- 상품 수량 조절 -->
	<update id="changeStock">
	   update goods
	       set gdsStock = gdsStock - #{gdsStock}
	   where gdsNum = #{gdsNum}
	</update>
	
	<!-- 상품 수량 조절(2) -->
	<select id="changeStock_sub" resultType="com.shop_99z.domain.OrderDetailVO">
		select orderId, gdsNum, cartStock
			from order_details
				where orderId = ${orderId}
	</select>
	
	<!-- 상품평 관리 -->
	<select id="allReply" resultType="com.shop_99z.domain.ReplyListVO">
	   select
	       r.gdsNum, r.memId, r.repNum, r.repCon, r.repDate,
	       m.memName
	   from reply r
	        inner join member m
	           on r.memId = m.memId
	</select>
	
	<!-- 상품평 삭제 -->
	<delete id="deleteReply">
	   delete reply
	       where repNum = #{repNum}
	</delete>
	
</mapper>