<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop_99z.mappers.memberMapper">
    
<!-- 회원 가입 -->
<insert id="signup">
	insert into member(memId, memPass, memName, memPhone)
		values(#{memId}, #{memPass}, #{memName}, #{memPhone})  
</insert>

<!-- 로그인 -->
<select id="signin" resultType="com.shop_99z.domain.MemberVO">
	select
	    memId, memName, memPass, memPhone, memAddr1, memAddr2, memAddr3, regDate, verify
	from
	    member
	where memId = #{memId}
</select>


</mapper>
